<div class="fourth">
    <img src="assets/images/districts/Kozhikode.jpg" alt="">
    <br>
    <br>
    <h1 align="center">KOZHIKODE</h1><br>
    <p>Kozhikode District was the capital of the erstwhile kingdom of the mighty Zamorins and 
      once a renowned commercial center. Today Kozhikode is one of the best cities in Kerala. 
      Endowed with lush green countrysides, serene beaches, historic sites, wildlife sanctuaries, rivers, 
      and hills, this city enchants both its inhabitants and its guests. With its unique culture and 
      friendly ambiance, Kozhikode is a wondrous destination for all.

    </p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/kozhikodebeach.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kozhikode Beach</h5>
          <p class="card-text">Kozhikode Beach is the favourite spot for all those who enjoy watching the setting sun. It is also a prime location for seafood lovers as it provides a wide variety of delicacies such as the famous ‘Kallummakaya’ (mussels). Dolphin’s point is a rewarding tourist spot where you might witness the mesmerizing sight of playful dolphins. In addition to this, is the old lighthouse, 
            the ancient piers and the Lion’s park for children.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/lokarkavu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Lokanarkavu Temple</h5>
          <p class="card-text">Lokanarkavu Temple is in Memunda 4 km from Vatakara, in Kozhikode (Calicut) District, North Malabar region of Kerala state of south India. Lokanarkavu is a short form of Lokamalayarkavu which means lokam (world) made of mala (mountain), aaru (river) and kavu (grove). It is the official family temple of the 500 Aryan Nagariks[citation needed] who had migrated to Kerala and their successors. The closest railway station is at Vadakara,which is 5 km from temple. 
            The nearest airport is Calicut airport which is 87 km away.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/ariparawaterfalls.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aripara Waterfalls</h5>
          <p class="card-text">Aripara Falls (alternate spelling: Arippara Falls) is a tourist spot in Anakkampoyil near Thiruvambady Town in Kozhikode district, Kerala. It is located on the Thiruvambady – Anakkampoyil route, 15 km from Thiruvambadi. The waterfall is a tributary of Iruvanjippuzha. 
            There is a proposal for implementing a hydro power project on the Aripara waterfall.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/mananjira.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mananchira</h5>
          <p class="card-text"> Previously known as Mananchira Maidan, this place held many football matches. Mananchira scores high as one of the places to visit in Kozhikode. This place provides tranquility to the visitors which is much sought after as one wants to escape the chaotic city life. It is a beautiful park covered with lawns, traditional buildings, a musical fountain, and an open-air theatre. This park is built around a man-made lake known as Mananchira lake.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/beypore.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Beypore Beach</h5>
          <p class="card-text"> Situated near the mouth of Chaliyar river, Beypore beach is a famous tourist destination. Your visit to Kozhikode remains incomplete without a day spent at Beypore beach. There is never a dearth of activities once you are at the beach. Clearly, one of the favourite tourist places to visit in Kozhikode, this beach takes into a different world with its numerous fun-filled activities to keep you engaged as it offers abundant water activities like surfing, sunbathing, water skiing and swimming.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/venkantesh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> srikanteshwara temple</h5>
          <p class="card-text">There is a much widely circulated folklore regarding the temple and its construction by the Maharaja of Travancore. Moreover, the Shivaratri festival is celebrated in much gaiety and fervor here. Apart from that, the moment you arrive in the temple, you will be engulfed by its tranquil atmosphere and both devotees and visitors are welcome inside it. Further, take time to explore the beautiful architecture and some quiet moments near the pond.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
