<div class="fourth">
    <img src="assets/images/districts/Thiruvananthapuram.jpg" alt="">
    <br>
    <br>
    <h1 align="center" >THIRUVANANTHAPURAM</h1><br>
    <p>Thiruvananthapuram also known as Trivandrum, is the capital and the largest city of the Indian state of Kerala. The city has a population of 957,730 inhabitants and a metropolitan population of 1.68 million. Thiruvananthapuram is a major Information Technology hub in India, and contributes 55% of Kerala’s software exports as of 2015.Thiruvananthapuram is located on the west coast of India near the extreme south of the mainland. Referred by Mahatma Gandhi as the “Evergreen city of India”,the city is characterised by its undulating terrain of low coastal hills.
      The city is classified as a Tier-II city by the government of India.</p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/sreepadmanabhatemple.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sree Padmanabha Swamy Temple</h5>
          <p class="card-text"> The origin of the Temple of Sree Padmanabhaswamy is lost in antiquity. It is not possible to determine with any exactitude, from any reliable historical documents or other sources as to when and by whom the original idol of Sree Padmanabhaswamy was consecrated.The Temple has references in Epics and Puranas. Srimad Bhagavatha says that Balarama visited this Temple, bathed in Padmatheertham and made several offerings. Nammalwar, 9th century poet and one among the 12 Vaishnavite saints of the Alvar tradition, has composed ten hymns in praise of Lord Padmanabha. Some well known scholars, writers and historians, like the late Dr. L.A.Ravi Varma of Travancore, have expressed the view that this Temple was established on the first day of Kali Yuga (which is over 5000 years ago). 
            The legends of the Temple are handed down through the centuries.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/kovalam.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Kovalam Beach</h5>
          <p class="card-text"> Kovalam is an internationally renowned beach with three adjacent crescent beaches. It has been a favourite haunt of tourists since the 1930s. A massive rocky promontory on the beach has created a beautiful bay of calm waters ideal for sea bathing. The leisure options at this beach are plenty and diverse. Sunbathing, swimming, herbal body toning massages, special cultural programmes and catamaran cruising are some of them. The tropical sun acts so fast that one can see the faint blush of coppery tan on the skin in a matter of minutes. 
            Life on the beach begins late in the day and carries on well into the night</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/neyyar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Neyyar Dam</h5>
          <p class="card-text"> Neyyar dam is situated at Kallikkad Panchayath of Kattakkada Taluk of Trivandrum district. The peak Agasthya kooodam is very near to Neyyar dam. The dam was built in the land given by an agriculturist known as Karuvachiyil Krishan Panicker, Father of Janaki Thankamma, Maruthummoottil family, and his other family members for irrigation purposes. One canal of Neyyar flows to western districts of Tamil Nadu. The main river Neyyar flows through Kallikkadu, Ottasekharamangalam, Aryancode, Kezharoor, Perumkadavila, 
            Marayamuttom, Neyyattinkara and Poovar and ends at the Arabian Sea.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br> 
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/palace museum.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">palace museum</h5>
          <p class="card-text"> Palace Museum or Puthe Maliga Palace Museum situated adjacent to the temple opened recently. This palace museum housed several wings of Travancore Maharajas palace. Thiruvananthapuram is a place famous for palace and museums. From ancient times Thiruvananthapuram is the centre of rulers. This rulers of Travancore have made so many wonderful palaces. These palaces have an attractive collection of art and paintings.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/sri chitra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">sri chitra art gallery</h5>
          <p class="card-text"> For those who are interested in Art and Paintings Sri Chitra Art Gallery is the perfect spot. This Art Gallery hold works of many great painters from different places. They include paintings of Rajput, Mughal and Tanjore schools along with works from China, Japan, Tibet and Bali. There are many interesting modern Indian paintings. Works of Ravi Varma, Svetoslav and Nicholas Roerich made this gallery popular.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/zoological.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">zoological gardens</h5>
          <p class="card-text">The Zoological Gardens set among woodland, lakes, and lawns is a stunning place which worth a visit. This is one of the best designed and well maintained Zoological Park in Asia.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
