<div class="fourth">
    <img src="assets/images/districts/pathanamthitta.jpg" alt="">
    <br>
    <br>
    <h1 align="center">PATHANAMTHITTA</h1><br>
    <p>Pathanamthitta District, the thirteenth revenue district of the State of Kerala, nestles its head on the slopes of the Western Ghats and stretches to the low-lying rice fields bordering Alappuzha District. It is bounded on the North by Changanassery and Kanjirappally Taluks of Kottayam District and Peerumade Taluk of Idukki District, on the East by the State of Tamil Nadu, on the South by Kunnathur, Pathanapuram and Kottarakkara Taluks of Kollam District and on the West by Chengannur, Mavelikkara and Kuttanad Taluks of Alappuzha District. It abounds with natural splendours – 
      undulating hills, dark mysterious forests, exotic wildlife and enchanting valleys.</p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/gavi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gavi Eco Tourism</h5>
          <p class="card-text">Gavi is an Eco-Tourism a project of the Kerala Forest Development Corporation located in Pathanamthitta district, Kerala. Gavi, located in Pathanamthitta district offers its visitors activities like trekking, wildlife watching, outdoor camping in specially built tents, and night safaris. Distance from Pathanamthitta To Gavi is 109 km 428 mtrs & Travel Time is 2 hour 5 mins By Road. Gavi is 14 km south west of Vandiperiyar, 28 km from Kumily, near Thekkady. Gavi is inside the Ranni reserve forest. Gavi is a part of Seethathode Panchayath in Ranni Taluk. Gavi is part of the Periyar Tiger Reserve, and the route can be covered by car from Vandiperiyar.p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/konni.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Konni and Adavi</h5>
          <p class="card-text"> A hill town, Konni is famous for timber trade and wild elephant training centre. This is a charming town with lush meadows and hills stands on the bank of river Achakovil. It is surrounded by clove and pepper plantations. Elephants trapped from the forest area are also tamed here. Konni with a vast expanse of lush green forests is the eco-tourism hub of 
            Pathanamthitta district, which has a project with elephants at its nerve centre.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/sabarimala.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Sabarimala</h5>
          <p class="card-text">Sabarimala is situated 72 km from Pathanamthitta town, 191 km from Thiruvananthapuram and 210 km from Kochi. It is the ‘Sacred Abode of Lord Ayyappa’ and one of the most important Hindu pilgrim centre in the country.The traditional route to Sabarimala is from Erumeli (40 km.). Other routes are from Vandiperiyar, Uppupara and Chalakkayam via Plappally. These routes are famous for these scenic splendour and mythological value. Sabarimala – The holy shrine is located amidst dense forests in the rugged terrains of Western Ghats. Inhabited by various wildlife species.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/Aranmula.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aranmula</h5>
          <p class="card-text"> Aranmula is a small town situated at a distance of 15 km from Pathanamthitta is surrounded by green hills and the holy river Pampa flowing through it. There is an ancient Parthasarathy temple dedicated to Lord Krishna. This town is also famous for Aranmula Kannadi, handmade metal-alloy mirrors unlike normal silvered glass mirrors and eliminates secondary reflections typical of back surface mirrors. These mirrors are unique and the exact metals used in the mirror are not known however metallurgists believe that the ally is a mix of copper and tin.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/pampa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> pampa river</h5>
          <p class="card-text"> Pampa River of Pamba River is the longest river in the state of Kerala after Periyar and Bharathappuzha at a distance of 18 km from Pathanamthitta. It originates from Pulachimalai hill in the Peermedu plateau of Western Ghats and after nourishing and passing through many places drains into Vembanad Lake. It is a sacred river for Hindus and is known as Thriveni Sangamam-the meeting point of three rivers. The sandy banks of the river have emerged as a cultural and religious centre.

          </p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/perunthenaruvi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perunthenaruvi waterfalls</h5>
          <p class="card-text"> Perunthenaruvi waterfalls in Wester Ghats are located at a distance of 36 KMs from Pathanamthitta. It is a famous tourist destination and a family picnic spot. Here the waterfalls on a rocky path into a ravine. These waterfalls are mostly famous for their wide area and not for their height. These falls ultimately merge with the waters of the Pamba River. These waterfalls become more graceful during monsoons with roaring waters and even become dangerous.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
