<div class="fourth">
    <img src="assets/images/districts/palakad.jpg" alt="">
    <br>
    <br>
    <h1 align="center">PALLAKAD</h1><br>
    <p>Palakkad is one of the fourteen districts of Kerala and has no coastal line. 
      The district opens the state to the rest of the country through the Palakkad Gap with a
       width of 32 to 40 Kms. Its geographical position, historical background, educational status, 
       tourism hot-spots and above all, the development activities that are carried out, are wide and
        varied. The district is one of the main granaries of Kerala and its economy is primarily agricultural. 
        The district is also the land of Palmyrahs.

    </p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/nelliyampathy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nelliyampathy</h5>
          <p class="card-text"> Nelliyampathy Hill Station: This fascinating hill station is at a height of 467 to 1,572 m above sea level. This hilly village is the delight of trekkers. Location: 65 Km from Palakkad (Palakkad-Nemmara of Trichur – Vadakkenchery – Nemmara route) 25 Km deviation from Nemmara. Attractions/Sight Seeing Points: Sitharkundu view point, Manpara view point, Kesavanpara view point, Victoria Church Hills, Karappara Dam site. Trekking Options: Hill top(via Lilli)-6Km, Karassuri(Near Anamada)-13Km,Parambikulam 20 Km.(Subject to permission from Forest Division) Tea/Cardamon/Coffee/Plantations-Orange & Vegitable Farm of 
            Agriculture Department/ Pothundy – earth dam and garden en-route to Nelliyampathy.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/parambikulam.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Parambikulam</h5>
          <p class="card-text"> Parambikulam Wildlife Sanctuary: (98 km from Palakkad) Sprawled across 285 sq.km, the Parambikulam Wildlife sanctuary is home to many rare wild animals. The tree house in the reserve forest area in Thunakkadavu has to be booked in advance. One of the oldest and the largest teak trees in the world can be seen here. The Kannimara Teak with a girth of 6.57 m and a height of 48.5m, said to be around 360 years old, is a remnant of the wild teak that grew in this area which now houses cultivated teak plantations. 
            Boating/cruising facilities are available at the Parambikulam Reservoir.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/silentvalley.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Silent Valley National Park</h5>
          <p class="card-text">Silent Valley National Park (40 km northwest of Mannarkkad) The 89.52 sq.km national park is believed to be the sole surviving bit of evergreen forest in the Sahya Ranges. The peculiarity of the Silent Valley Forest is that it is even devoid of the chirping of cicadas’. 
            Vehicular transport is possible only up to Mukkali, nearly 24 km from the park.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/vadakkanthara.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">vadakkanthara Temple</h5>
          <p class="card-text"> Just 2 kms from Palakkad railway station is the beautiful temple of Vadakkanthara, one of the most important Palakkad tourist places. The temple complex is dedicated to the worship of Devi, a revered form of Kannagi. It holds a special place in the hearts of Hindu devotees and followers of the Devi. The Pooja time is considered extremely sacred and the temple complex is thronged by tourists whenever the aarti is held. At the end of the aarti, in the evening, gorgeous fireworks are set as per tradition. The building itself is beautifully and intricately decorated with captivating wooden carvings and is a sight to behold</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/Palakkad_Fort.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Palakkad fort</h5>
          <p class="card-text">One of the most historically important Palakkad tourist places is the Palakkad fort or Tipu’s fort. Spend a day celebrating picnic in the sprawling green grounds of the fort with your family and enjoy looking at the various statues in the complex. Or go for a morning or evening jog on the running track running along the moat surrounding the fort. History aficionados can spend a few hours enjoying the museum located within the grounds admiring the renovation of the fort by Archaeological Survey of India. Architecture buffs are attracted to the fort for its beautiful French style construction.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/dhoni.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Dhoni waterfalls</h5>
          <p class="card-text">If you are an adrenaline junkie looking for a thrill-inducing trek into the heart of God’s own country, the trail to Dhoni waterfalls is the place for you. Enjoy the three-hour trek through the lush green forests to reach the falls. The trail up the hills fills one with a sense of wonder and calmness – the greenery, the leaves rustling, the wind humming. And once you reach the falls, the mesmerizing view of turquoise waters will make it impossible to tear your eyes away from it. You can spend a perfect day of picnic near the falls.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
