<div class="fourth">
    <img src="assets/images/districts/Alappuzha.jpg" alt="">
    <br>
    <br>
    <h1 align="center">ALAPPUZHA</h1><br>
    <p>Alappuzha is a Land Mark between the broad Arabian sea and a network of rivers flowing into it.
      In the early first decade of the 20th Century the then Viceroy of the Indian Empire, Lord Curzon made a visit in the 
      State to Alleppey, now Alappuzha. Fascinated by the Scenic beauty of the place, in joy and amazement, 
      he said, “Here nature has spent up on the land her richest bounties”. In his exhilaration, it is said, he exclaimed, “Alleppey, the Venice of the East”. 
      Thus the sobriquet found its place in the world Tourism Map. The presence of a port and a pier, criss -cross roads and
       numerous bridges across them, a long and unbroken sea coast might have motivated him to make this comparison.</p><br>
       <hr>
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/alappybeach.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alappuzha Beach</h5>
          <p class="card-text">This is one of the most popular picnic spots in Alappuzha. The pier, which extends into the sea here, is over 137 years old. Entertainment facilities at the Vijaya Beach Park add to the attractions of the beach. 
            There is also an old light house which is greatly fascinating to visitors</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/pathiramanal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Pathiramanal</h5>
          <p class="card-text">According to mythology a young Brahmin dived into the Vembanadu lake to perform his evening ablutions and the water made way for land to rise from below, thus creating the enchanting island of (sands of midnight) Pathiramanal . This little island on the backwaters is a favourite haunt of hundred of rare migratory birds from different parts of the world. 
            The island lies between Thaneermukkom and Kumarakom, and is accessable only by boat.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/krishnapurampalace.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Krishnapuram Palace</h5>
          <p class="card-text">Krishnapuram Palace Built by Marthandavarma Maharaja at Kayamkulam in Karthikappally Taluk is famous for its mural depicting the story of ‘Gajendramoksham’. Dating back to the 18th century, this exquisite piece of art is one of the largest murals in Kerala. 
            This Palace museum houses antique sculptures, paintings and bronzes.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/Andhakaranazhi-Beach.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Andhakaranazhi Beach</h5>
          <p class="card-text">Famous as the ‘Lagoon of Darkness’ among tourists and an absolute delight among hardcore nature photographers, Andhakaranazhi is a gorgeous beach located 31 km from Alleppey on the Kochi-Alleppey route and is one of the most beautiful places to visit near Alleppey. Housing the super pretty Manakkodam lighthouse, the beach is where the backwaters and the Arabian Sea merge and the phenomenon is a sight in itself, especially at the time of sunset and sunrise.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/mary-forane-church.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> St. Mary Forane Church</h5>
          <p class="card-text"> One of the oldest and most beautiful Christian churches in the country, the St Mary Forane Church belongs to the Syro Malabar Church under the archeparchy of Changanacherry. It is one of the most beautiful places to visit in Alleppey owing to its magnificent sculpture, murals, and the stunning views of the backwaters flowing adjacent to it.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/Mullakkal-Bhagavathy-Temple.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Mullakkal Bhagavathy Temple</h5>
          <p class="card-text"> Mullakkal Bhagavathy Temple is believed to be 500-years old which is dedicated to Goddess Bhagavathy. This is the most beautiful part of this district which is why it is counted among the top places to see in Alleppey. While exploring this place, you will find several photographers, travellers, and architects visiting this place. Once inside the temple, you will get to witness the 20 feet tall idol of the goddess.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>