<div class="fourth">
    <img src="assets/images/districts/Wayanad.jpg" alt="">
    <br>
    <br>
    <h1 align="center">WAYANAD</h1><br>
    <p>Wayanad District came into existence on 1st November, 1980 as the 12th District of Kerala consisting of Mananthavady, Sulthanbathery and Vythiri Taluks. The name Wayanad is derived from Vayal Nadu which means the land of paddy fields. It is a picturesque plateau situated at a height between 700 meters and 2100 meters above the mean sea level nested among the mountains of the Western Ghats on the Eastern portion of North Kerala and on 
      the sides of Tamil Nadu and Karnataka States.</p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div>
        <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/tholpetty.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tholpetty Wildlife Sanctuary</h5>
          <p class="card-text">Lying towards the north of the district of Wayanad, this region harbours a rich diversity of flora. Open to wildlife jeep safari twice a day, you are bound to spot various animals and bird species in their natural habitat during the 1.5-2 hour journey. 
            A lake where animals come down for a drink is a major attraction here.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/banasura.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Banasura Sagar Dam</h5>
          <p class="card-text">Wayanad is home to India’s largest earthen dam, the Banasura Sagar. The dam, which was constructed in 1979, is built across the Karamanathodu tributary of the Kabani River. It is named after the Asura king Banasura, son of Mahabali, who is said to have observed a severe penance in the surrounding hills. The dam is made entirely of massive stacks of rocks and stones, and has become a popular tourist spot,
            known for its spectacular views and boating trips.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/edakkal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Edakkal Caves</h5>
          <p class="card-text">Located at about 1200 ft above the sea level, the Edakkal Caves are among the oldest human settlements ever discovered. Inside the caves are pictorial drawings and engravings that indicate the presence of ancient human settlements in the region. Despite their name, the Edakkal Caves are not actually caves. They are part of a pre historic rock shelter, formed naturally when one huge boulder got wedged between 
            two bigger ones. The name Edakkal itself means “a stone in between”.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/jain temple.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jain Temple</h5>
          <p class="card-text">Dating its history back to the 13th century, the Jain Temple is an ancient site that stands proudly as a testimony to the strong Jain presence in the state of Kerala and features the Vijayanagar style of architecture with beautiful carvings in the inner section. It’s the holiest place for Jains that first served as a place of worship and then became an important center for business activities. Lastly, in the 18th century, it was used to store ammunition by Tipu Sultan.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/soochipara.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Soojipara Waterfalls</h5>
          <p class="card-text">Situated at a drive of 35 km from the center of the town, Soochipara Falls or Sentinel Rock Waterfalls hypnotizes everyone with its unmissable charm and boasts an excellent atmosphere with plush natural beauty and evergreen forests to calm your most-frazzled nerves. Ideal for rock climbing, the crystal-clear waters falling from Soochipara Falls join the Chaliyar River and form a pool where you can sit back, relax, dip your feet, and chill for hours.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/chembra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chembra peak</h5>
          <p class="card-text">The highest mountain peak in the Wayanad hill range, the Chembra Peak invites nature admirers to adore its majestic beauty along with enjoying a spectacular view of the Wayanad, Nilgiri, Malappuram, and Kozhikode districts from a height of 2100 meters above sea level. It’s a perfect weekend getaway option for locals as well as tourists for a good, half-day excursion and can also be visited by adventure enthusiasts looking to bring out the best of adventure in themselves.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
        </div>
    </div>
