<div class="fourth">
    <img src="assets/images/districts/Ernakulam.jpg" alt="">
    <br>
    <br>
    <h1 align="center">ERNAKULAM</h1><br>
    <p>Ernakulam bordering the district of Thrissur in the north, Idukki in the East, Alappuzha and Kottayam in the south, Lakshadweep Sea in the west is an amalgam of a hoary heritage and global growth of industry and commerce. For the outside world, Ernakulam is part of Kochi referred to in the history of Kerala as the Queen of Arabian Sea. The densely populated Ernakulam District embodies the achievements of the Kerala State in literacy, industry, trade, and commerce. With an inclusive culture, relatively high per capita income and an unstoppable interest of the people in updating themselves of the political, economic, social and cultural
       happenings in the national and international spheres, Ernakulamrepresents the high modern phase of the Kerala society.</p><br>
       <hr>
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/stchurch.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Edapally St.George Forane Church</h5>
          <p class="card-text">Edappally, about 10 km away from the city, is famous for the St. George Forane Church, one of the oldest Roman Catholic Churches in the State. The church, popularly known as Edappally Pally, was a small structure at the time of its construction in 594 AD. In 1080 AD, a bigger church was built adjacent to the old one to accommodate the congregation that had grown greatly in number. The Edappally pilgrim church was the richest Catholic shrine in Kerala. Due to the uncountable miracles of Edappally St George, the Catholic Church were deciding to elevate this miraculous 
            Church to the status of a National Shrine Basilica.100000+ holy masses were conducted in every year in this holy land.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/bolgatty.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Bolgatty Palace</h5>
          <p class="card-text"> This is the oldest palace built by the Dutch outside the Kingdom of Holland. The palace was built by a Dutch merchant in 1744. Later, it was renovated with a 
            magnificent lawn and a number of reforms. The palace served as the official residence of Dutch Governor.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/fortkochi1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fort Kochi</h5>
          <p class="card-text">Fort Kochi, the western part of the Kochi city of Ernakulam district in Kerala. It is about 12 km away from Ernakulam Town. Fort Kochi has played an important role in the history of Kerala. Fort Kochi also has several attractions like the Santa Cruz Basilica. Fort Kochi also houses many historical monuments such as the St. Francis Church, the first church of Vasco da Gama, the Dutch Seminary, 
            the China Vela and many others. The Indian Navy’s ship, Dronacharya, is located in Fort Kochi.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/mattanchery.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> The Museum of Mattancherry</h5>
          <p class="card-text"> A stroll through the lanes of Fort Kochi will definitely attract you to the rustic and old-fashioned neighbourhood of Mattancherry. It is said that back in the days, this cheri (street), was lined with mutton butchers, and so it ended up being called “Muttoncherry” which over the years evolved into “Mattancherry”. Today the place exhibits centuries-old architectures and various social and cultural imprints left behind by foreigners.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/vypeen.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Vypeen Island</h5>
          <p class="card-text"> Vypeen is one of the popular places to visit in Ernakulam in one day and certainly one of the best islands in Kerala. A short and beautiful ferry ride from the city will take to this serene island which is dotted with beaches, backwaters and an array of restaurants and hotels. A desktop worthy scenery away from the bustling environment is what makes Vypeen island one of the best places to visit in Ernakulam for lovers.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/David-Hall.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> David Hall Art Gallery</h5>
          <p class="card-text"> A Dutch bungalow near the Dutch cemetery in Fort Kochi got renovated to become a major attraction for art lovers. One of the best places to visit in Ernakulam, the gallery exhibits works by prominent and local artists. Travellers will also be delighted to find a cosy garden restaurant which serves a variety of cakes and snacks; however the café is known for its fresh and crispy pizzas</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
