<div class="fourth">
    <img src="assets/images/districts/Kottayam.jpg" alt="">
    <br>
    <br>
    <h1 align="center">KOTTAYAM</h1><br>
    <p>Kottayam is a land of unique characteristics.Panoramic backwater stretches, lush paddy fields, 
      highlands, hills and hillocks, extensive rubber plantations, places associated with many legends 
      and a totally literate people have given Kottayam District the enviable title:The land of letters, legends, latex and lakes. The city is an important trading center of spices and commercial crops, especially rubber. Most of India’s natural rubber originates from the acres of well-kept plantations of Kottayam, also home to the Rubber Board.Kottayam is also called as “Akshara Nagari” which means the “city of letters” considering its contribution to print media and literature.

    </p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/vagamon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vagamon</h5>
          <p class="card-text"> Situated 64kms from Kottayam, this enchanting hill station at an elevation of 1100 metres above sea level is a trekker’s paradise. This enchanting hill station on the Idukki – Kottayam border dotted with tea gardens and meadows, will soon be one of India’s foremost Eco tourism projects. The breeding centre of the 
            Kerala Live stock Board is located here.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/kumarakom.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Kumarakom</h5>
          <p class="card-text"> Kumarakom is a small village 14 km. west of Kottayam. It is a part of Kuttanad, which is a ‘ wonder land ‘, lying below sea level, comprising of a number of islands, in the back waters. Kumarakom Village covers an area of 5166 Ha of which 2413 Ha is lake portion, 1500 Ha is paddy fields and the remaining portion of 1253 Ha is dry land. Kumarakom is an unbelievably beautiful paradise of mangrove forests, emerald green paddy fields and coconut groves interspersed with enchanting waterways and canals adorned with white lilies. Situated on the Vembanad Lake, this small water world has plenty of traditional country boats, crafts and canoes which will take you in to the heart of scenic Kerala. The resorts near by offer comfortable accommodation and exclusive leisure options like Ayurvedic massages, 
            Yoga and meditation besides boating, fishing, angling and swimming.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/vembanad.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Vembanad Lake</h5>
          <p class="card-text">Kottayam has a vast network of rivers and canals, which empty into the great expanse of water called the Vembanad Lake, a fast developing backwater tourism destination. Vembanad Lake is having 83.72km length and 14.48km width. Traditional Cargo boats called Kettuvallams are modified into Cruise boats and House boats, with all basic facilities like kitchen, toilet, bathrooms, sit outs etc. These boats gracefully move around the back waters, providing facilities to tourist to enjoy the beauty of the Vembanad Lake in a relaxed pace. The Kumarakom tourist 
            village offers house boat cruises and holiday packages.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/ilaveezhapoonchira.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ilaveezhapoonchira</h5>
          <p class="card-text"> Ilaveezhapoonchira is a wonderful picnic spot situated in the midst of the fabulous hillocks. This spot Situated at distance of 55 kms from Kottayam is one of the most excellent places in Kerala to witness the sunrise and sunset. The velvet valleys of Ilaveezhapoonchira spreads across thousands of acres. Three enchanting hillocks Mannakunnu, Kodayathoormal and Thonippara, surrounds this place. Ilaveezhapoonchira is an attractive place for adventure lovers. The three hillocks make it an ideal place for trekking</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/poonjar-palace-.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Poonjar palace</h5>
          <p class="card-text">Poonjar palace, a wonderful palace situated at Poonjar in Kottayam district reflects the rich cultural heritage of Kerala. This palace tells us about the glorious past of Bygone era. This six hundred year old magnificent palace is also famous for its wonderful architecture. The palace made almost entirely of wood is a typical example of Traditional Kerala architecture.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/aruvikkuzhi-waterfalls.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Aruvikkuzhi waterfall</h5>
          <p class="card-text"> Aruvikkuzhi waterfall is an exhilarating waterfall located 18 km from Kottayam town. Aruvikkuzhi waterfalls is one of the most beautiful picnic spot in Kottayam. It's amazing to be here with the roaring sound of water as they cascade down the mountains till they drop down a height of 100ft..</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
