<div class="fourth">
    <img src="assets/images/districts/Malappuram.jpg" alt="">
    <br>
    <br>
    <h1 align="center">MALAPPURAM</h1><br>
    <p>Bounded by the Nilgiris hills on the East and the Arabian Sea on the west, the district of Malappuram literally the land atop the hills, is remarkable for its unique natural beauty. Perched among the undulating hills and the meandering rivers that flow to reach the coconut-fringed seacoast, the land conceals a unique and eventful history. The hill country also contributed much to the cultural artistic traditions of the state. The mosques and temples of the land are known for their spectacular festivals. The land of great poets and writers, political and religious leaders, the district has carved a unique place of its own in the history of Kerala Home to the khilafath movement and the mappila revolts, which questioned the British authority in India, Malappuram was the 
      military headquarters of the zamorins of Kozhikode since ancient times.</p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/thunjan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Thunjan Pararmbu</h5>
          <p class="card-text">Located 32 kms from Malappuram at Tirur is the hallowed Thunchan Parambu, the birth place of Thunchath Ezhuthachan, the father of Malayalam language. This stretch of ground has been carefully preserved for posterity with items like the iron stylus used by the scholar and literary giant kept on display. The holy day of Vijayadasami witnesses children being brought here to be initiated into the world of education and knowledge The ancient kanjira tree (Nux vomica) under which he is supposed to have imparted knowledge to his beloved disciples and composed his poems is one of the treasured exhibits here. 
            The memorial also houses a granite Saraswathi Mandapam along with a library of rare manuscripts.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/kozhippara.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Kozhippara Waterfalls</h5>
          <p class="card-text">This is an enchanting scenic spot in the high ranges of Malappuram. Located near Kozhippara, the place is covered by mist all through the day. The waterfall is located on the Chokkad stream. Kozhippara waterfalls is an ideal location for trekking and swimming in Kerala. It is one of the best waterfalls, which offer plenty of opportunites to adventure enthusiast, who like to explore this spectacular destination. 
            Kakadam Poyil, mostly engulfed in mist is a beautiful spot in the vicinity.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/thirunavaya.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Thirunavaya</h5>
          <p class="card-text">The land of ancient Mamankam, Tirunavaya is south of Tirur. Situated on the banks of Bharathapuzha river; it is a place of historical importance. In olden days, Mamankam a grand assembly of rulers was held once in 12 years here. Thirunavaya is a place of worship also with three temples of Brahma, Vishnu and Siva on either side of the river. The Nava Mukunda temple believed to be constructed by Nava yogis situated here is an important Vishnu temple. The river bank of the temple is
            considered holy and the rituals for forefathers (bali tarpana/sradha puja) are offered here.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/nilambur.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nilambur teak museum</h5>
          <p class="card-text"> Nilambur is famous for their teak produce, which is a kind of tree used for woodwork and is easily available throughout the country. Kerala, however, is one of the biggest providers of teak in the country, and this museum in the Nilambur district is entirely dedicated to the history of the wood. Not just that, this two-storeyed building is the first museum of its kind. The exhibits and artifacts included in the museum display extensive information on the use of of teak, with a number of articles made from the wood</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/keralam kundu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Keralam Kundu</h5>
          <p class="card-text">A basin at the base of waterfalls where people can enjoy a dip in the pond is something everyone wants to have an experience. Keralam Kundu Waterfalls are undoubtedly the best of all Malappuram Tourist Places, and that is why people keep flocking here to have an experience of the mystical. The water flows in from the forest of the western ghat and forms a pool of crystal clear water at the base of the falls. Also, it is believed that the water has many medicinal properties.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/kadalundi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Kadalundi Bird Sanctuary</h5>
          <p class="card-text"> The Kadalundi Bird Sanctuary or the Kadalundi Nagaram, is definitely one of the best places to visit in Malappuram. It sits right at the spot where River Kadalundi Puzha flows into the Arabian Sea.Easily accessible from Malappuram and Kozhikode, the bird sanctuary is host to about 100 species of native birds, and about 60 species of migratory birds.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
