<div class="fourth">
    <img src="assets/images/districts/kollam.jpg" alt="">
    <br>
    <br>
    <h1 align="center">KOLLAM</h1><br>
    <p>Kollam (erstwhile Quilon) is a southern district of Kerala, located 70 km north of the state’s capital Thiruvananthapuram. It is flanked by the Arabian sea on the west, Tamil Nadu on the east, Alapuzha and Pathanamthitta districts on the north and Thiruvananthapuram district on the south. Housing a population of over 2.6 million, Kollam is one of the more densely peopled districts of India. The head quarters of the district administration is centred at Kollam City, the district’s capital. Administratively, 
      the district is composed of two revenue divisions viz. Kollam and Punalur with three taluks each under them.</p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/jatayuadvnture.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jatayu Adventure Center</h5>
          <p class="card-text">Jatayu Adventure Center, at Chadayamangalam, 50 km from Trivandrum, Kerala, is a unique entrant in the tourism map of India. The destination is a masterpiece combination of artistry, mythology, technology, culture, adventure, leisure and wellness put together to give every visitor a spellbinding experience. A complete feast to your eyes, the world’s largest bird sculpture is the recreation of Mr. Rajiv Anchal’s years of aspiration. To enhance the experience of the mythology get mesmerized at the virtual reality museum and the theatrical magic, 
            rendering the story of the mythical bird Jatayu and its era.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/thenmala.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Thenmala</h5>
          <p class="card-text"> Thenmala is India’s first planned eco-tourism destination. Located in the foothills of the Western Ghats, in Kerala’s Kollam district, Thenmala is also a UNESCO World Heritage Site. A government-managed facility, this unique destination offers great 
            opportunities for adventure and leisure, along with being one with nature.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/palaruvi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Palaruvi Waterfalls</h5>
          <p class="card-text"> Palaruvi Waterfalls, which literally translates to ‘Stream of Milk’, comes down through rocks from a height of 300 feet. This has turned into a delightful picnic spot where one can enjoy a spectacular view uninterrupted. The rocky terrain one has to traverse before reaching it can be cumbersome but once these majestic waterfalls come into sight, any kind of fatigue disappears immediately. The cool water is 
            frequented by those seeking a refreshing dip and it regularly attracts people in large numbers.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/ashtamudi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ashtamudi Lake</h5>
          <p class="card-text"> The incredible beauty of Kerala, Ashtamudi lake has eight branches that coincide with the Arabian sea after converging into one channel, hence the name Ashtamudi, where Ashta means eight and mudi means branch. Spell-binding the travelers with its inarticulate and persuasive charm, this second largest lake in Kerala is one of the most popular places to visit in Kollam. Beautifying the banks of this lake, palm and coconut trees, intensifies the fascinating experience of calm and lush green waterways.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/lighthouse.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Thangassery Light House</h5>
          <p class="card-text">The red and white painted bands around the lighthouse make it marvelous and dignified. Moreover, witnessing the pleasant sunset from the top of the lighthouse is a breathtaking experience. Attracting tourists towards its enchanting beauty and calming view, an evening to the lighthouse is worth visiting among places to see in Kollam.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/advenpark.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Kollam Adventure Park</h5>
          <p class="card-text"> The center of leisure activities for people with no age limit. A must-go-to place for luxurious boating, picnic, and the art museum among other tourist places in Kollam. The park encloses a place possessing numerous rides and impressive scenery that makes it ideal for a family picnic. With the alluring backwaters, travelers can enjoy houseboat cruises, deluxe boats, and speedboats in the midst of serene waters. Apart from the boat club, children’s park, this place covers enticements such as a 200-year-old government guest house and Yatri Nivas.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
