<div class="fourth">
    <img src="assets/images/districts/thissur.jpg" alt="">
    <br>
    <br>
    <h1>THRISSUR</h1><br>
    <p>The District can claim to have played a significant part in fostering the trade relations between
       Kerala and the outside world in the ancient and medieval period. It can also claim to have played 
       an important part in fostering cultural relations and in laying the foundation of a cosmopolitan and 
       compose culture in this part of the country. Kodungalloor which had the unique distinction of being 
       the “Primum Emporium India”, also belongs to the signal honour of having first given shelter to all 
       the three communities which have contributed to the prosperity of Malabar’. These three communities
        are the Christians, the Jews and the Muslims.

    </p><br>
       <hr>
      
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/athirapallywaterfall.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Athirapally Waterfall</h5>
          <p class="card-text">Athirappilly Falls, is situated in Athirappilly Panchayat, Chalakudy Taluk, Thrissur District of Kerala, 
            India on the Chalakudy River, which originates from the upper reaches of the Western Ghats at the entrance to the Sholayar ranges.It is the largest waterfall in Kerala, which stands tall at 80 feet. Just a short drive from Athirapally to the Vazhachal falls, 
            which is close to dense green forests that are home to many endangered and endemic species of flora and fauna.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/sakthanpalace.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Sakthan Palace</h5>
          <p class="card-text">Shakthan Thampuran Palace is situated in City of Thrissur in Kerala state, India. It is named as Vadakkekara Palace, was reconstructed in Kerala-Dutch style in 1795 by Ramavarma Thampuran of the erstwhile Princely State of Cochin, well as Sakthan Thampuran (Greatest ruler of the Cochin dynasty) is preserved by Archaeological Department. 
            The palace was converted into a museum in 2005 by State.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/punnathurkotta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Punnathur Kotta</h5>
          <p class="card-text">Punnathurkotta is a fort and former palace located in Kottapadi, about 2 km from the Guruvayoor Sree Krishna Temple, in Thrissur District of Kerala State in South India.Punnathurkotta was once the palace of a local ruler, but the palace grounds are now used to house the elephants belonging to the Guruvayoor 
            temple, and has been renamed Anakkotta (meaning “Elephant Fort”).</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/vilangan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vilangan kunnu</h5>
          <p class="card-text">The oxygen jar of the city of Thrissur, Vilangan Kunnu is a hillock located near the city. From its top, one can get a fine view of the Thrissur city and Thrissur Kole Wetlands, making the place one of the most favourite picnic spots in the region. Simply surreal, the experience from the 5-acre hilltop is only enhanced by the construction of an amusement park, where there are a number of rides that the kids can enjoy with the amazing view below..</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/chavakkad.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> chavakkad beach</h5>
          <p class="card-text">One of the most fascinating and unexplored beaches of the state of Kerala, the Chavakkad Beach is popularly one amongst the most famous Thrissur Tourist places. Perfect for picnickers, honeymooners, and tourists of all sorts, the golden sand of the beach is what at the tracts people from all corners of the country.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/basilica.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Dolours basilica</h5>
          <p class="card-text"> The Dolours Basilica, or the Basilica of Our Lady of Dolours (as the full name goes), is a distinct building in the city of Thrissur. You can easily recognize this grand church from its white facade. Smack in the middle of a lush green valley, this basilica is known for narrating quite a number of stories of love and faith. Spread in an area of about 25,000 sq feet, Dolours Basilica is the third tallest church in Asia and the largest church in the country with double storeyed aisles</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
