<div class="fourth">
    <img src="assets/images/districts/idukki.jpg" alt="">
    <br>
    <br>
    <h1 align="center">IDUKKI</h1><br>
    <p>This beautiful High range district of Kerala is geographically known for its Mountainous Hills and 
      Dense Forests. For the people of Kerala, Idukki is always associated with Power Generation. About 66% of 
      the State’s Power needs come from the Hydroelectric Power Projects in Idukki. Idukki which lies in 
      the Western Ghats of Kerala is the second largest district in area but has the lowest population density. 
      Idukki has a vast forest reserve area; more than a half of the district is covered by forests. 
      The urban areas are densely populated whereas villages are sparsely populated. Idukki is also known as the spice garden of Kerala.

    </p><br>
       <hr>
       
  </div>
  <div class="fifth">
    <h1>TOURIST PLACES</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/periyar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Periyar Tiger Reserve, Thekkady</h5>
          <p class="card-text">The very sound of the word Thekkady conjures up images of elephants, unending chains of hills and spice scented plantations. The Periyar forests of Thekkady is one of the finest wildlife reserves in India. Spreads across the entire district are 
            the picturesque plantations and hill towns that nestle beautiful trails for treks and mountain walks.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/munnar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">   Munnar</h5>
          <p class="card-text"> Munnar rises as three mountain streams merge – Mudrapuzha, Nallathanni and Kundala. 1,600 m above sea level, this hill station was once the summer resort of the erstwhile British Government in South India. Sprawling tea plantations, picturesque towns, winding lanes and holiday facilities make this a popular resort town. Among the exotic flora found in the forests and grasslands here is the Neelakurinji. This flower which bathes the hills in blue once in every twelve years, will bloom next in 2018. Munnar also has 
            the highest peak in South India, Anamudi, which towers over 2,695 m. Anamudi is an ideal spot for trekking.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/idukkidam.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Idukki Arch Dam</h5>
          <p class="card-text">The Idukki Dam, located in Kerala, India, is a 168.91 m (554 ft) tall arch dam. The dam stands between the two mountains – Kuravanmala (839)m and Kurathimala (925)m. It was constructed and is owned by the Kerala State Electricity Board. It supports a 780 MW hydroelectric power station. It is built on the Periyar River, in the ravine between the Kuravan and Kurathi Hills in Kerala, India. At 167.68 metres, it is one of the highest arch dams in Asia and third tallest arch dam. It started generating power on 4 October 1975.[1] 
            Technically, the dam type is a concrete double curvature parabolic, thin arc dam.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/keezharkuthu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Keezharkuthu Falls</h5>
          <p class="card-text">The cascading waters from a height of 1500 meters amidst the hills enveloped in lush greenery, adorns the skies with rainbows that takes the visitors’ breath away. A favorable hunting ground for photographers, the Keezharkuthu falls also referred to as rainbow falls immerse the visitors in an inexplicable experience. The contiguous forests are believed to be endowed with medicinal plants and herbs, which are used by tribal inhabitants from centuries.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/hill view park.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  hill view park</h5>
          <p class="card-text">Hill View Park, one of the Idukki tourist places, located at a distance of 2 km from Idukki Bus stand, is a magnificent and well-managed park. The park, stretching over 8 acres enthralls the visitors with hundreds of varieties of crotons, flowers, medicinal plants, and other woods. The Hill View Park houses a natural water body, where visitors can enjoy boat rides. The view from the watchtower of both the dams, Idukki and Cheruthoni, the surrounding hills on all four sides and the lush greenery takes the breath away.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/thommankuthu.jpg" card-img-top alt="...">
        <div class="card-body">
          <h5 class="card-title">Thommankuthu Waterfalls</h5>
          <p class="card-text">Thommankuthu Waterfalls is a series of 12 falls or kuthus (locally known) spread over an area of 5 kms and fall from a height of 40 meters. The 12 falls that vary in height and pass through the lush evergreen forests, presents a remarkable sight..</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
