<div class="index">
    
    </div>
    <br>
    <div class="container">
    <div class="places" align="center">
        <h1>𝐓𝐎𝐔𝐑𝐈𝐒𝐓 𝐏𝐋𝐀𝐂𝐄𝐒 𝐈𝐍 𝐊𝐄𝐑𝐀𝐋𝐀</h1>
    </div>

    <div class="carou">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="assets/images/slide/wayanad.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>WAYANAD</h5>
            <p>Known for its wildlife and spice
              plantations, Wayanad is an adventurous
              destination where one can go trekking,
              camping, rock climbing or mountaineering.</p>
          </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/images/slide/calicut.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>CALICUT</h5>
              <p>Previously known as Calicut,this is the
                place where Vasco-da-Gama first landed
                in India.One can experience sunset, beautiful beach and seafoods here.</p>
          </div>
          </div>
          <div class="carousel-item"  data-bs-interval="4000">
            <img src="assets/images/slide/kochi.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>KOCHI</h5>
              <p>This commercial port city, often
                referred to as the 'Queen of the
                Arabian Sea' is filled with rich history
                and is must-visit site in Kerala</p>
          </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/images/slide/jatayu.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>JATAYU EARTH CENTRE</h5>
            <p>Jatayu Earth's center that hosts the world's largest bird sculpture. Spanning over 65 acres across four hills,this is the state's first ever <br>BOT(Build-Operate-Transfer)tourism</p>
          </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/images/slide/munnar.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>MUNNAR</h5>
              <p>This hill station is famous for its tea
                estates, beautiful forests, serene
                valleys,and its flora and fauna.One
                must plan a trek or camp in Munnar</p>
          </div>
          </div>
          <div class="carousel-item"  data-bs-interval="4000">
            <img src="/src/assets/images/slide/thekkedy.avif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>THEKKADY</h5>
              <p>Periyar wildlife at Thekkady is a
                popular place for conservation of
                various species of animals including
                elephant, tiger and gaur. Along with its
                wildlife, Thekkady attracts tourists and
                visitors from all over the world for its
                scenic beauty.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/slide/alapuzha.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>ALAPPUZHA</h5>
            <p>A famous tourist destination, Alleppey
              is known as ‘The Venice of the East'
              and one must enjoy the serene
              backwaters here</p>
        </div>
      </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>

        
    
