<div class="fourth">
    <img src="assets/images/districts/kasarkod.jpg" alt="">
    <br>
    <br>
    <h1 align="center">KASARAGOD</h1><br>
    <p>Kasaragod district, which is located at the northern end of Kerala, was formed on 24th May, 1984. The District formed on the basis of the order of 19.05.1984 of GO (MS) number 520/84 / RD, comprising of Hosdurg and Kasaragod taluks which were part of undivided Kannur District. In the east the district is Kodagu and Dakshina Kannada districts of Karnataka, the Arabian Sea in the west, and the 
      Kannada District of Karnataka in the north. The district is bounded by the Kannur district.</p><br>
       <hr>
  </div>
  <div class="fifth">
    <h1>TOURIST SPOTS</h1>
  </div>
    <br>
    <div class="fifteen">
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/valiyaparamba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Valiyaparamba</h5>
          <p class="card-text"> Separated from the mainland by backwaters, Valiyaparamba fishing village is an island with the Arabian Sea as one of the borders. Located about 30 km from Bekal, Valiyaparamba backwaters is one of the most picturesque backwater boroughs in Kerala. 
            The island located in River Tejeswini, is known for its natural beauty.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/ranipuram.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Ranipuram Hill Station</h5>
          <p class="card-text">RANIPURAM Formerly known as Madathumala. About 48 KMs east of Kanhangad. Lying 780 meters above sea level. In beauty and boundary of nature comparable to Ooty. 
            An ideal place for trekking. Tourist cottages are available here.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/bekel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Bekal Fort</h5>
          <p class="card-text">Bekal – Bekal Fort, is the largest fort in Kerala, situated at Bekal, Pallikera village in Hosdurg Taluk in Kasaragod district,
            Kerala and it is 65 km from Mangalore city spreading over 40 acres.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div> <br>
    <div class="card-group">
      <div class="card">
        <img src="assets/gallery/parappa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">parappa wildlife sanctuary</h5>
          <p class="card-text"> A paradise for nature lovers and a fine ranked in the list of tourist places in Kasaragod. It is a natural habitat of some underrated fauna like a slow turtle, the prickly porcupine, Malabar hornbill, Slender loris, and the cute wild jungle cat. If wilderness attracts you, this locale is a must visit for some great wildlife photography. Hike around the sanctuary and click around some rare species</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/thaikadapuram.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">thaikadapuram Beach</h5>
          <p class="card-text">An ideal locale for a peaceful vacay! If rare and unexplored fauna catches your attention then you must visit this beach in the monsoon season to watch some olive ridley turtles. Watch the sand turn golden and the sun setting with vivid colors. Just sit in silence and see the wonders nature has to offer or have a frolicking time with your troop at one of the best tourist places in Kasaragod.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/gallery/mallikarjuna.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">mallikarjuna temple</h5>
          <p class="card-text"> A temple dedicated to Lord Shiva is situated in the center of the Kasaragod city. The mesmerizing aura of this temple stops the passerby to sit and spend some time in the premises watching the ritual performances which are a part of common daily routine. This edifice was built by the Iyer kings and is one of the most revered tourist places in Kasaragod. If the fine art attracts you then you will be amazed to know, that the walls of this spiritual site are adorned with spellbinding paintings.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    </div>
