<div class="container">
  <div class="fifth">
    <h1 align="center">DISTRICTS </h1>
  </div>
    <br>
    <div class="sixth">
    <div class="card-group">
      <div class="card">
        <a href="wayanad"> <img src="assets/images/districts/Wayanad.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">WAYANAD</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="thiruvandrum"><img src="assets/images/districts/Thiruvananthapuram.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">THIRUVANANTHAPURAM</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="thrissur"><img src="assets/images/districts/thissur.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">THRISSUR</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
    <br>
    <div class="card-group">
      <div class="card">
        <a href="pathanamthitta"><img src="assets/images/districts/pathanamthitta.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">PATHANAMTHITTA</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="palakad"><img src="assets/images/districts/palakad.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">PALAKKAD</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="mallapuram"><img src="assets/images/districts/Malappuram.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">MALAPPURAM</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
    <br>
    <div class="card-group">
      <div class="card">
        <a href="kozhikode"><img src="assets/images/districts/Kozhikode.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">KOZHIKODE</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="kottayam"><img src="assets/images/districts/Kottayam.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">KOTTAYAM</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="kollam"><img src="assets/images/districts/kollam.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">KOLLAM</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
    <br>
    <div class="card-group">
      <div class="card">
        <a href="kasargod"><img src="assets/images/districts/kasarkod.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">KASARAKOD</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="kannur"><img src="assets/images/districts/Kannur.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">KANNUR</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="idikki"><img src="assets/images/districts/idukki.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">IDUKKI</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
    <br>
    <div class="card-group">
      <div class="card">
        <a href="ernakulam"><img src="assets/images/districts/Ernakulam.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">ERNAKULAM</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="alappuzha"><img src="assets/images/districts/Alappuzha.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">ALAPPUZHA</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="https://satellites.pro/Kerala_map" target="_blank"><img src="assets/images/districts/mix.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">KERALA-3D-MAP</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
  </div>
  </div>
</div>